body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0px 25px 0px 400px;
    background: #a27444;
}

textarea {
    width: 100%;
    max-width: 300px;
    height: 100px;
}

.content {
	border-style: double;
	border-color: black;
	max-width: 500px;
}

#footer {
	position: fixed,
}
